p{
	font-size:1.5rem;
}
div.about-me {
	margin: 2rem;
}

div.about-me-img-div {
	float: left;
	width: 50%;
	height: 50%;
	shape-outside: square(); 
}

img.about-me-img{
	float: inherit;
	padding-left: 3%;
	margin: 0% -3%;
}

/**
RESPONSIVE LAYOUT CSS

<370: Default
370-500: Bigger Phone CSS
501-750: Tablet CSS
751+: Browser


**/

	 @media screen and (min-width: 376px) and (max-width: 750px) {
              	p{
                      font-size:1.75rem;
                }
      }
    
    @media screen and (min-width: 751px) {
        p {font-size:2rem;}
      }
 	

    @media screen and (min-width:1000px) {
        p {font-size:2.5rem;}
      }