.portfolio {
    margin: 2rem;
}

.text-section {
    padding: 1rem;
}

.project__element{
    background-color: darkblue; 
    margin: 1rem;
}

.project__header{   
    font-size:4rem;
}

.project__sub-header{
    font-size:3rem;
    text-align: center;
}

.project_text{
    font-size:1rem;
    text-align: center;
}