<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Style Scripts -->
	<script src="/vendor/js/jquery.min.js"></script>
	<script src="/vendor/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/vendor/js/purify.min.js"></script>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
	<link rel="stylesheet" href="/vendor/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/about.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" type="text/css" href="/css/cv.css">
	<link rel="stylesheet" type="text/css" href="/css/portfolio.css">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

</head>

<body>
	<div class="nav-div">
		<nav class="navbar-black">
			<ul class="navbar-list">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
			</ul>
		</nav>
	</div>
	<div class="default-content">

		{{ content }}

	</div>
	<!-- /.container -->
	<footer>
		<ul>
			<li><a href="https://github.com/TYMG">github.com/TYMG</a></li>
		</ul>
	</footer>
</body>

</html>